{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-params": 0,
    "no-unused-vars": 1,
    "no-warning-comments": 0,
    "@typescript-eslint/no-unused-vars": 1,
    "no-useless-catch": 1,
    "comma-dangle": 0,
    "@typescript-eslint/no-empty-function": 1,
    "object-curly-spacing": 0,
    "quotes": 0,
    "semi": 0
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
